.base{
    width: 1308px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    font-family: 'DM Sans';
    ul{
        list-style: none;
        display: flex;
        a{
            text-decoration: none;
            color: black;
            font-size: 18px;
            &:hover{
                color: #be123c;
            }
        }
        li{
            margin: 10px;
        }
    }
    span{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        color: #6B7280;
        width: 366px;
        p{
        font-weight: 700;
        font-size: 18px; 
    }
    }
}

@media screen and (max-width: 600px) {
    .base {
      width: 100%;
      margin: auto;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 2rem;
  
      ul {
        flex-direction: column;
        align-items: flex-start;
  
        li {
          margin-bottom: 10px;
        }
      }
  
      span {
        width: auto;
        margin-left: 0;
  
        p {
          font-size: 14px;
        }
      }
    }
  }