.base{
    width: 1308px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    font-family: 'DM Sans';
    ul{
        list-style: none;
        display: flex;
        a{
            text-decoration: none;
            color: black;
            font-size: 18px;
            &:hover{
                color: #be123c;
            }
        }
        li{
            margin: 10px;
        }
    }
    span{
        display: flex;
        align-items: center;
        color: #6B7280;
        p{
        font-weight: 700;
        font-size: 18px; 
    }
    }
}