.posterInfo_container {
 position: absolute;
  width: 404px;
  height: 285px;
  left: 6rem;
  color: #fff;
  top: 8rem;
  
  h1{
    font-family: 'DM Sans';
    font-size: 48px;
    font-weight: 700;
    font-style: bold;
  }
  .ugc {
    display: flex;
    width: 184px;
    justify-content: space-between;
    margin: 1rem 0;
    .branding {
        display: flex;
      img {
        width: 35px;
        height: 17px;
        margin-right: .5rem;
      }
    }
    .userClicks {
        display: flex;
      img {
        height: 17px;
        width: 1rem;
        background-color: transparent;
        margin-right: .5rem;
      }
    }
  }
  .text_detail{
    width: 302px;
    height: 72px;
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  button{
     background: #BE123C;
        color: #fff;
        width: 169px;
        padding: 6px 16px 6px 16px;
        border: 0;
        border-radius: 6px;
  }
}

@media screen and (max-width: 600px) {
.posterInfo_container{
  top: 4.5rem;
  left: 2rem;
  width: 170px;
  h1{
    font-size: 16px;
  }
  .ugc{
    p{
      font-size: 12px;
    }
    width: 90px;
    .branding {
      img {
      width: 1.5rem;
      height: 16px;
    }
  }
  .userClicks {
  img {
    height: 17px;
    width: 1rem;
    margin-left: .5rem;
  }
}
  }
  .text_detail{
    width: 202px;
    font-size: 10px;
    margin-bottom: -1rem;
  }
  button{
       width: 90px;
       padding: 3px 8px 3px 8px;
       font-size: 8px;
 }
}
}