.mainContainer{
  max-width: 100%;
  padding: 0 2rem;
  overflow-x: hidden;
.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1308px;
  margin: 2rem auto;
  font-family: 'DM Sans';
  h1 {
    font-size: 36px;
    font-weight: 700;
  }
  span {
    display: flex;
    align-items: center;
    p {
      font-size: 18px;
      color: #be123c;
      font-weight: 400;
      margin-right: 5px;
    }
  }
}

.card {
  margin: 0 3rem 0 -4rem;
  display: grid;
  padding: 0 1rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 21px;

  .posterHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'DM Sans';
    width: 350px;
    height: 490px;
    .posterImage{
      width: 250px;
      border-radius: 4px;
    }
    .yearRelease {
      display: flex;
      font-size: 12px;
      color: #9ca3af;
      margin: 2px 0;
      p {
        margin-right: 2px;
      }
    }

    span {
      width: 250px;
      font-size: 18px;
      flex-wrap: wrap;
      P {
        font-weight: 700;
      }
    }

    .userGenerated {
      display: flex;
      max-width: 100%;
      justify-content: space-between;
      align-items: center;
      margin: 0.8rem 0;
      .avgCount {
        display: flex;
        align-items: center;
       margin: 0 3.5rem;
    
        img {
          margin-right: 5px;
        }
      }
    }
    .genre {
      color: #9ca3af;
      font-size: 12px;
    }
  }
}
}
@media screen and (max-width: 600px) {
  .mainContainer {
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    height: 100vh;
    .intro {
      width: 80%;
      h1{
        font-size: 1rem;
      }

      span{
        p{
          font-size: 12px;
        }
        .greater{
          font-size: 10px;
        }
      }
    }
    .card {
      display: grid;
      grid-template-columns: repeat(1, minmax(450px, 1fr));
      padding: 10px;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      margin: 4rem 3rem 0 2rem;
      .posterHolder {
        height: auto;
        margin: auto;
        .posterImage {
          max-width: 400px;
          border-radius: 20px;
          height: auto;
        }
        .userGenerated {
          width: auto;
          
          .avgCount {
           margin: 0 3.5rem;
          }
        }
        
      }
    }
  }
}

