.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1308px;
  margin: 2rem auto;
  font-family: 'DM Sans';
  h1 {
    font-size: 36px;
    font-weight: 700;
  }
  span {
    display: flex;
    align-items: center;
    p {
      font-size: 18px;
      color: #be123c;
      font-weight: 400;
      margin-right: 5px;
    }
  }
}

.card {
  width: 1308px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5px;

  .posterHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'DM Sans';
    width: 350px;
    height: 490px;

    .yearRelease {
      display: flex;
      font-size: 12px;
      color: #9ca3af;
      margin: 2px 0;
      p {
        margin-right: 2px;
      }
    }

    span {
      width: 250px;
      font-size: 18px;
      flex-wrap: wrap;
      P {
        font-weight: 700;
      }
    }

    .userGenerated {
      display: flex;
      width: 90%;
      justify-content: space-between;
      margin: 0.8rem 0;
      .avgCount {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        img {
          margin-right: 5px;
        }
      }
    }
    .genre {
      color: #9ca3af;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 600px) {
  .mainContainer {
    width: 100%;
    box-sizing: border-box;

    .intro {
      width: 80%;
    }
    .card {
      display: grid;
      grid-template-columns: repeat(1, minmax(450px, 1fr));
      padding: 10px;
      justify-content: center;
      align-items: center;
      .posterHolder {
        height: auto;
        .posterImage {
          max-width: none;
          height: auto;
        }
        .userGenerated {
          width: auto;
          .avgCount {
           padding: 0 3.5rem;
          }
        }
      }
    }
  }
}

